<!-- Para añadir captions -->
<div class="image-wrapper">
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <img src="{{ site.url }}/{{ include.img }}" alt="{{ include.title }}/">
    {% if include.url %}
    </a>
    {% endif %}
    {% if include.img_caption %}
        <p class="image-caption">{{ include.img_caption }}</p>
    {% endif %}
</div>

<!-- Estructura: 
{% include image.html 
   img="images/imagen.png" 
   title="Título" 
   img_caption="Figura 1: descripción." 
%}
-->
